@import "reset";

.row {
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: 'Palanquin', sans-serif;
  background-image: url("http://eskipaper.com/images/film-wallpaper-2.jpg");
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  p {
    color: #cf0a00;
    font-size: 20px;
    font-weight: 900;
  }
}

.main {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  p{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .info {
    color: #cf0a00;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.5s;
    &:hover{
      color: white;
    }
  }
  .smaller{
    font-size: 20px;
    padding: 0;
  }
  .overview {
    margin-bottom: 40px;
    color: darkgrey;
    text-align: justify;
  }
  img {
    width: 100%;
    height: auto;
  }
  @media only screen and (max-width: 1199px) {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: 60%;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}

footer{
  background-color: rgba(0, 0, 0, 0.6);
  color: darkgrey;
  height: 85px;
  p {
    transition: color 0.5s;
    display: flex;
    align-items: center;
    &:hover{
      color: white;
    }
  }
  .img {
    background-image: url("https://i.imgur.com/nfXj4aB.png");
    background-repeat: no-repeat;
    height: 100px;
  }
}