@import "reset";

.row {
  margin-left: 0;
  margin-right: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Palanquin', sans-serif;
  background: -moz-linear-gradient(92deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 99%, rgba(111,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(111,0,0,1)), color-stop(1%, rgba(111,0,0,1)), color-stop(100%, rgba(32,1,34,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(92deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 99%, rgba(111,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(92deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 99%, rgba(111,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(92deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 99%, rgba(111,0,0,1) 100%); /* ie10+ */
  background: linear-gradient(358deg, rgba(32,1,34,1) 0%, rgba(111,0,0,1) 99%, rgba(111,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f0000', endColorstr='#200122',GradientType=0 ); /* ie6-9 */
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  p {
    color: #cf0a00;
    font-size: 20px;
    font-weight: 900;
  }
}

.typeahead {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  div {
    height: 70px;
    padding: 5px;
    cursor: pointer;
    &:last-of-type {
      border: none;
    }
    p {
      display: flex;
      align-items: center;
      color: white;
      font-size: 30px;
    }
  }
}

.main {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
  h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  p{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .info {
    color: #cf0a00;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.5s;
    &:hover{
      color: white;
    }
  }
  .smaller{
    font-size: 20px;
    padding: 0;
  }
  .overview {
    margin-bottom: 40px;
    color: darkgrey;
    text-align: justify;
  }
  img {
    width: 100%;
    height: auto;
  }
  @media only screen and (max-width: 1199px) {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: 60%;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .image {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}

footer{
  background-color: rgba(0, 0, 0, 0.6);
  color: darkgrey;
  p {
    transition: color 0.5s;
    display: flex;
    align-items: center;
    &:hover{
      color: white;
    }
  }
  .img {
    background-image: url("https://i.imgur.com/nfXj4aB.png");
    background-repeat: no-repeat;
    height: 100px;
  }
}